PORT=3000
NODE_ENV=development
MSG91_AUTH_KEY=your_msg91_auth_key
MSG91_TEMPLATE_ID=your_msg91_template_id
MSG91_EMAIL_TEMPLATE_ID=your_msg91_email_template_id
APP_JWT_SECRET=change_this_secret
APP_JWT_EXPIRES_IN=1d
FRONTEND_ORIGIN=*